body {
    font-family: 'Univers LT Std', sans-serif;
    /* 55 and ???? */
}

ul {
    padding-left: 0;
}

.menu {
    position: absolute;
    right: 2rem;
    top: 3.6rem;
    /* padding is what increases clickable area, needs to be 44px */
}

.Unsatiable .menu {
    color: rgb(255, 255, 255);
}

.Unsatiable .intro {
    /* doing something specific to the different projects*/
    background-color: black;
}

.Unsatiable .unsatiable-image {
    padding: 2rem;
}

.unsat-vid {
    display: none;
}

.Unsatiable h1 { /* my name*/
    color: rgb(255, 255, 255);
    font-size: 11pt;
    font-weight: 900;
}

.Unsatiable h2 {
    color: white;
    font-size: 11pt;
    font-weight: 100;
}

.intro p { /* paragraph under first image */
    color: rgb(255, 255, 255);
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 21rem;
    font-weight: 100;
    font-size: 11pt;
}

.process-p { /* paragraph under process*/
    color: rgb(0, 0, 0);
    padding: 2rem;
    font-weight: 100;
    font-size: 11pt;
}

/* trying to group all the individual process images into one clump so I can center it */
.process {
    margin: 0 auto;
}

.image-grid {
    margin: 0 auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 2rem;
    max-width: 84%;
}

.nav-active {
    color: red;
}

/* this is all for home page????*/

h1 {
    font-size: 16px;
    padding-left: 2rem;
    font-weight: 65;
    padding-top: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 16px;
    padding-left: 2rem;
    font-weight: 65;
    font-weight: 100;
}

/* home page images */
.unsatiable-image {
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

/* not letting me hide it just for mobile??
.menu-options {
   display: none;
}
*/

/* end of home page images */







/* desktop version!!!*/
@media (min-width: 800px) {

    .Unsatiable .unsatiable-image {
        display: none;
    }

    .menu {
        display: none;
    }

    .Unsatiable h1 {
        color: white;
        font-weight: 900;
        font-size: 15pt;
        padding-left: 5rem;
        padding-top: 3rem;
    }

    .Unsatiable h2 {
        color: white;
        font-weight: 100;
        font-size: 15pt;
        padding-left: 5rem;
    }

    .intro p {
        color: white;
        width: 64%;
        font-weight: 100;
        font-size: 15pt;
        margin: 0 auto;
        margin-top: -20rem;
        padding: none;
    }

    .unsat-vid {
        width: 60%;
        display: block;
        margin: 0 auto;
        margin-top: -18rem;
    }

    /* better way to align this and add stroke please??*/
    .process {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }

    .image-grid {
        grid-template-columns: 1fr 1fr 1fr;
        width: 40%
    }

    .process-p {
        color: rgb(0, 0, 0);
        width: 60.5%;
        font-weight: 100;
        font-size: 15pt;
        margin: 0 auto;
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }

    .menu-options {
        margin: 0 auto;
        font-weight: 100;
        line-height: 3rem;
        font-size: 15pt;
        padding-left: 5rem;
        margin-top: -127rem; /* this keeps changing if I edit the bottom */
    }

    nav ul { /* gets rid of bullet point */
        list-style: none;
    }

    nav a { /* links */
        text-decoration: underline;
        color: red;
    }

    .second-link {
        font-weight: bold;
        text-decoration: none;
    }
}