body {
    font-family: 'Univers LT Std', sans-serif;
    /* 55 and ???? */
}

.Unsatiable .intro {
    /* doing something specific to the different projects*/
    background-color: black;
}

h1 {
    font-size: 16px;
    padding-left: 2rem;
    font-weight: 65;
    padding-top: 2rem;
}

h2 {
    font-size: 16px;
    padding-left: 2rem;
    font-weight: 65;
}

/* home page images */
.unsatiable-image {
    padding: 2rem
}

.looza {
    padding: 2rem
}

.preservatives {
    padding: 2rem
}

.psaid {
    padding: 2rem
}

.app {
    padding:2rem
}

.clothing {
    padding: 2rem
}

.snickerdoodle {
    padding: 2rem
}

.mlk {
    padding: 2rem
}
/* end of home page images */