body {
    font-family: 'Univers LT Std', sans-serif;
    /* 55 and ???? */
}


.menu {
    position: absolute;
    right: 2rem;
    top: 5.1rem;
   /* padding is what increases clickable area, needs to be 44px */
}

.Unsatiable .menu{
    color: white;
}

.Unsatiable .intro {
    /* doing something specific to the different projects*/
    background-color: black;
}

.Unsatiable .unsatiable-image {
    padding: 2rem;
}

.Unsatiable h1 {
    color: white;
    font-weight: 900;
}

.Unsatiable h2 {
    color: white;
    font-weight: 100;
}

.intro p {
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 21rem;
}

.Unsatiable .wineglass {
    width: 130px;
    padding-left: 2rem;
    padding-top: 2rem;
}

.Unsatiable .wishbone {
    width: 130px;
    padding-left: 2rem;
    padding-top: 2rem;
    margin-top: -8.1rem;
    margin-left: 7.15rem;
}

.Unsatiable .threeD {
    width: 130px;
    padding-left: 2rem;
    padding-top: 2rem;
    margin-top: -8.1rem;
    margin-left: 14.3rem;
}

.Unsatiable .totem {
    width: 130px;
    padding-left: 2rem;
    padding-top: 1rem;
}

.Unsatiable .stem {
    width: 130px;
    padding-left: 2rem;
    margin-top: -6.1rem;
    margin-left: 7.2rem;
}

.Unsatiable .blue {
    width: 130px;
    padding-left: 2rem;
    margin-top: -6.1rem;
    margin-left: 14.3rem;
}

.Unsatiable .green {
    width: 130px;
    padding-left: 2rem;
    padding-top: 1rem;
}

.Unsatiable .pink {
    width: 130px;
    padding-left: 2rem;
    padding-top: 1rem;
    margin-left: 7.2rem;
    margin-top: -7.1rem;

}

.Unsatiable .orange {
    width: 130px;
    padding-left: 2rem;
    padding-top: 1rem;
    margin-left: 14.3rem;
    margin-top: -7.1rem;
}

.process p {
    color: rgb(0, 0, 0);
    padding: 2rem;
    padding-bottom: 19.5rem;
}








.nav-active {
    color: red;
}

/* this is all for home page????*/

h1 {
    font-size: 16px;
    padding-left: 2rem;
    font-weight: 65;
    padding-top: 2rem;
    font-weight: 900;
}

h2 {
    font-size: 16px;
    padding-left: 2rem;
    font-weight: 65;
    font-weight: 100;
}

/* home page images */
.unsatiable-image {
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 2rem;
}

.looza {
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.preservatives {
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.psaid {
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.app {
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.clothing {
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.snickerdoodle {
    padding: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
}

.mlk {
    padding: 2rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

/* end of home page images */