/* roboto weights: 300, 500, 700 */

/*gradients:
#5A0221
#B41043
#DD141E
#F05B19

#FF984D
#FFB967
*/


.wrapper {
    overflow: hidden;
}

body {
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    line-height: 1.37;
    height: 100%;
}

.intro {
    background: linear-gradient(#5A0221, #B41043);
}

.logo {
    margin: 0 auto;
    width: 300px;
    rotate: 5deg;
    padding-top: 270px;
    padding-left: 1rem;
}

.intro p {
    margin: 0 auto;
    text-align: center;
    color: white;
    width: 80%;
    font-size: 16px;
    margin-bottom: 2rem;
    margin-top: -4rem;
    font-weight: 500;
}

.arrow {
    margin: 0 auto;
    width: 35px;
    rotate: 270deg;
    margin-top: 15rem;
}

.section1 {
    background: linear-gradient(#B41043, #DD141E);
    padding-top: 33rem;
}

.section1 h1 {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    padding-left: 16rem;
}

.section1 p {
    margin: 0 auto;
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 12.5rem;
    margin-bottom: -81rem;
}

.items1 {
    margin-top: -37rem;
}

.button1 {
    background: transparent;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin-left: 16rem;
    margin-top: 82rem;
}

.grape-bottle {
    margin: 0 auto;
    rotate: 25deg;
    width: 325px;
    margin-left: -2rem;
    padding-top: 5rem;
}

.grapes-bottom-left {
    margin: 0 auto;
    width: 210px;
    margin-top: -15rem;
    margin-left: -3rem;
}

.grapes-top-left {
    margin: 0 auto;
    width: 210px;
    margin-top: -51rem;
    margin-left: -3rem;
}

.grapes-top-right {
    margin: 0 auto;
    width: 210px;
    rotate: 120deg;
    margin-top: -22rem;
    margin-left: 27rem;
}

.grapes-bottom-right {
    margin: 0 auto;
    rotate: 28deg;
    width: 210px;
    margin-top: 8rem;
    margin-left: 29rem;
}



.section2 {
    background: linear-gradient(#DD141E, #F05B19);
    padding-top: 15rem;
}

.section2 h1 {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    margin-left: 7rem;
    margin-top: 20rem;
}

.section2 p {
    margin: 0 auto;
    width: 40%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 7rem;
    margin-bottom: -33rem;
}

.button2 {
    background: transparent;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin-left: 7rem;
    margin-top: 34rem;
}

.items2 {
    margin-top: -37rem;
}

.apple-cherry-bottle {
    margin: 0 auto;
    rotate: 335deg;
    width: 325px;
    margin-right: -2rem;
    padding-top: 3rem;
}

.apples-left {
    margin: 0 auto;
    margin-left: -21rem;
    margin-top: -40rem;
}

.apples-right {
    margin: 0 auto;
    margin-left: 18rem;
    margin-top: -40rem;
}

.cherry-front {
    width: 450px;
    margin-left: -14rem;
    margin-top: -16rem;
}

.cherry-stem1 {
    width: 450px;
    margin-left: -8rem;
    margin-top: -28rem;
}

.cherry-stem2 {
    width: 450px;
    rotate: 270deg;
    margin-left: 12rem;
    margin-top: 10rem;
}




.section3 {
    background: linear-gradient(#F05B19, #FF984D);
    padding-top: 30rem;
}

.section3 h1 {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    margin-left: 15rem;
}

.section3 p {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 45%;
    margin-bottom: -35rem;
    margin-left: 15rem;
}

.button3 {
    background: transparent;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin-left: 15rem;
    margin-top:36rem;
}

.items3 {
    margin-top: -37rem;
}


.citrus-delight-bottle {
    margin: 0 auto;
    rotate: 25deg;
    width: 325px;
    margin-left: -2rem;
    padding-top: 3rem;
    position: relative;
    z-index: 10;
}

.grapefruit-left {
    width: 180px;
    rotate: 170deg;
    margin: 0 auto;
    margin-left: -2rem;
    margin-top: -44rem;
}

.grapefruit-right {
    width: 180px;
    margin: 0 auto;
    margin-right: -6rem;
    margin-top: 18rem;
}

.lime {
    margin: 0 auto;
    margin-top: -41rem;
    margin-left: 14rem;
}

.orange {
    margin: 0 auto;
    width: 500px;
    rotate: 50deg;
    margin-top: 14rem;
    margin-left: -8rem;
}





.section4 {
    background: linear-gradient(#FF984D, #FFB967);
    padding-top: 30rem;
}

.section4 h1 {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    margin-left: 5rem;
}

.section4 p {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 50%;
    margin-bottom: -30rem;
    margin-left: 5rem;
}

.button4 {
    background: transparent;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin-left: 5rem;
    margin-top: 31rem;
}

.items4 {
    margin-top: -34rem;
}

.peach-bottle {
    margin: 0 auto;
    rotate: 335deg;
    width: 325px;
    margin-right: -2rem;
    padding-top: 3rem;
}

.peach-top-left {
    width: 300px;
    margin: 0 auto;
    rotate: 25deg;
    margin-left: -10rem;
    margin-top: -50rem;
}

.peach-left {
    width: 300px;
    margin-left: -6rem;
    margin-top: -12rem;
}

.peach-bottom-left {
    width: 300px;
    rotate: 200deg;
    margin-left: -10rem;
    margin-top: 10rem;
}

.peach-top-right {
    width: 300px;
    margin-left: 24rem;
    margin-top: -43rem;
}

.peach-bottom-right {
    width: 300px;
    margin-left: 24rem;
    margin-top: 13rem;
}


.section5 {
    background: linear-gradient(#FFB967, #ffc481);
    padding-bottom: 8rem;
    padding-top: 25rem;
}

.section5 h1 {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    margin-left: 15rem;
}

.section5 p {
    margin: 0 auto;
    width: 45%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-bottom: -31rem;
    margin-left: 15rem;
}

.button5 {
    background: transparent;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin-left: 15rem;
    margin-top: 32rem;
}

.items5 {
    margin-top: -36rem;
}

.banana-bottle {
    margin: 0 auto;
    rotate: 25deg;
    width: 325px;
    margin-left: -2rem;
    position: relative;
    z-index: 10;
}

.banana-top-left {
    rotate: 90deg;
    width: 550px;
    margin-top: -41rem;
    margin-left: -15rem;
}

.banana-bottom-left {
    rotate: 90deg;
    width: 550px;
    margin-top: 4rem;
    margin-left: -15rem;
}

.banana-top-right {
    rotate: 250deg;
    width: 550px;
    margin-top: 4rem;
    margin: 0 auto;
    margin-right: -14rem;
    margin-top: -56rem;
}

.banana-bottom-right {
    rotate: 260deg;
    width: 550px;
    margin: 0 auto;
    margin-top: 7rem;
    margin-right: -15rem;
}



.bottom {
    background-color: #FFFDF2;
}

.logo-bottom {
    width: 200px;
    margin: 0 auto;
    rotate: 5deg;
    margin-top: -13rem;
}

.flag {
    margin: 0 auto;
    width: 50px;
    margin-top: -2rem;
}

.bottom p {
    color: rgb(0, 0, 0);
    width: 440px;
    font-size: 13px;
    padding: 1rem;
    padding-top: 2rem;
    margin: 0 auto;
    text-align: center;
}

.bottom h1 {
    color: black;
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
}