/* roboto weights: 300, 400, 500, 700 */

/*gradients:
#5A0221
#B41043
#DD141E
#F05B19
#FF984D
#FFB967
*/


.wrapper {
    overflow: hidden;
}

body {
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    line-height: 1.37;
    height: 100%;
}

.intro {
    background: linear-gradient(#5A0221, #B41043);
}

.logo {
    margin: 0 auto;
    width: 300px;
    rotate: 5deg;
    padding-top: 270px;
    padding-left: 1rem;
}

.intro p {
    margin: 0 auto;
    text-align: left;
    color: white;
    width: 50%;
    font-size: 16px;
    margin-bottom: 2rem;
    margin-top: -4rem;
    margin-left: 9.5rem;
}

.arrow {
    margin: 0 auto;
    width: 35px;
    rotate: 270deg;
    margin-top: 15rem;
}

.section1 {
    background: linear-gradient(#B41043, #DD141E);
    padding-top: 33rem;
}

.section1 h1 {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    padding-left: 16rem;
}

.section1 p {
    margin: 0 auto;
    width: 80%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    padding-left: 12.5rem;
    margin-bottom: -81rem;
}

.items1 {
    margin-top: -37rem;
}

.button1 {
    background: transparent;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin-left: 16rem;
    margin-top: 82rem;
}

.grape-bottle {
    margin: 0 auto;
    rotate: 25deg;
    width: 325px;
    margin-left: -2rem;
    padding-top: 5rem;
}

.grapes-bottom-left {
    margin: 0 auto;
    width: 210px;
    margin-top: -15rem;
    margin-left: -3rem;
}

.grapes-top-left {
    margin: 0 auto;
    width: 210px;
    margin-top: -51rem;
    margin-left: -3rem;
}

.grapes-top-right {
    margin: 0 auto;
    width: 210px;
    rotate: 120deg;
    margin-top: -22rem;
    margin-left: 27rem;
}

.grapes-bottom-right {
    margin: 0 auto;
    rotate: 28deg;
    width: 210px;
    margin-top: 8rem;
    margin-left: 29rem;
}



.section2 {
    background: linear-gradient(#DD141E, #F05B19);
    padding-top: 15rem;
}

.section2 h1 {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    margin-left: 7rem;
    margin-top: 20rem;
}

.section2 p {
    margin: 0 auto;
    width: 40%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-left: 7rem;
    margin-bottom: -33rem;
}

.button2 {
    background: transparent;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin-left: 7rem;
    margin-top: 34rem;
}

.items2 {
    margin-top: -37rem;
}

.apple-cherry-bottle {
    margin: 0 auto;
    rotate: 335deg;
    width: 325px;
    margin-right: -2rem;
    padding-top: 3rem;
}

.apples-left {
    margin: 0 auto;
    margin-left: -21rem;
    margin-top: -40rem;
}

.apples-right {
    margin: 0 auto;
    margin-left: 18rem;
    margin-top: -40rem;
}

.cherry-front {
    width: 450px;
    margin-left: -14rem;
    margin-top: -16rem;
}

.cherry-stem1 {
    width: 450px;
    margin-left: -8rem;
    margin-top: -28rem;
}

.cherry-stem2 {
    width: 450px;
    rotate: 270deg;
    margin-left: 12rem;
    margin-top: 10rem;
}




.section3 {
    background: linear-gradient(#F05B19, #FF984D);
    padding-top: 30rem;
}

.section3 h1 {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    margin-left: 15rem;
}

.section3 p {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 45%;
    margin-bottom: -35rem;
    margin-left: 15rem;
}

.button3 {
    background: transparent;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin-left: 15rem;
    margin-top: 36rem;
}

.items3 {
    margin-top: -37rem;
}


.citrus-delight-bottle {
    margin: 0 auto;
    rotate: 25deg;
    width: 325px;
    margin-left: -2rem;
    padding-top: 3rem;
    position: relative;
    z-index: 10;
}

.grapefruit-left {
    width: 180px;
    rotate: 170deg;
    margin: 0 auto;
    margin-left: -2rem;
    margin-top: -44rem;
}

.grapefruit-right {
    width: 180px;
    margin: 0 auto;
    margin-right: -6rem;
    margin-top: 18rem;
}

.lime {
    margin: 0 auto;
    margin-top: -35rem;
    margin-left: 20rem;
    width: 270px;
}

.orange {
    margin: 0 auto;
    width: 500px;
    rotate: 50deg;
    margin-top: 14rem;
    margin-left: -8rem;
}





.section4 {
    background: linear-gradient(#FF984D, #FFB967);
    padding-top: 30rem;
}

.section4 h1 {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    margin-left: 5rem;
}

.section4 p {
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 16px;
    width: 50%;
    margin-bottom: -30rem;
    margin-left: 5rem;
}

.button4 {
    background: transparent;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin-left: 5rem;
    margin-top: 31rem;
}

.items4 {
    margin-top: -34rem;
}

.peach-bottle {
    margin: 0 auto;
    rotate: 335deg;
    width: 325px;
    margin-right: -2rem;
    padding-top: 3rem;
}

.peach-top-left {
    width: 300px;
    margin: 0 auto;
    rotate: 25deg;
    margin-left: -10rem;
    margin-top: -50rem;
}

.peach-left {
    width: 300px;
    margin-left: -6rem;
    margin-top: -12rem;
}

.peach-bottom-left {
    width: 300px;
    rotate: 200deg;
    margin-left: -10rem;
    margin-top: 10rem;
}

.peach-top-right {
    width: 300px;
    margin-left: 24rem;
    margin-top: -43rem;
}

.peach-bottom-right {
    width: 300px;
    margin-left: 24rem;
    margin-top: 13rem;
}




.section5 {
    background: linear-gradient(#FFB967, #ffc481);
    padding-bottom: 8rem;
    padding-top: 25rem;
}

.section5 h1 {
    margin: 0 auto;
    color: white;
    font-size: 20px;
    margin-left: 15rem;
}

.section5 p {
    margin: 0 auto;
    width: 45%;
    color: rgb(255, 255, 255);
    font-size: 16px;
    margin-bottom: -31rem;
    margin-left: 15rem;
}

.button5 {
    background: transparent;
    border: 2px solid #fff;
    padding: 1rem;
    border-radius: 50px;
    color: white;
    margin-left: 15rem;
    margin-top: 32rem;
}

.items5 {
    margin-top: -36rem;
}

.banana-bottle {
    margin: 0 auto;
    rotate: 25deg;
    width: 325px;
    margin-left: -2rem;
    position: relative;
    z-index: 10;
}

.banana-top-left {
    rotate: 90deg;
    width: 550px;
    margin-top: -41rem;
    margin-left: -15rem;
}

.banana-bottom-left {
    rotate: 90deg;
    width: 550px;
    margin-top: 4rem;
    margin-left: -15rem;
}

.banana-top-right {
    rotate: 250deg;
    width: 550px;
    margin-top: 4rem;
    margin: 0 auto;
    margin-right: -14rem;
    margin-top: -56rem;
}

.banana-bottom-right {
    rotate: 260deg;
    width: 550px;
    margin: 0 auto;
    margin-top: 14rem;
    margin-right: -13rem;
}





.bottom {
    background-color: #FFFDF2;
}

.logo-bottom {
    width: 160px;
    margin: 0 auto;
    rotate: 5deg;
    margin-top: -13rem;
}

.flag {
    margin: 0 auto;
    width: 40px;
    margin-top: -2rem;
}

.bottom p {
    /* copyright */
    color: rgb(0, 0, 0);
    width: 450px;
    font-size: 11px;
    padding: 1rem;
    padding-top: 2rem;
    margin: 0 auto;
    text-align: center;
}

.bottom h1 {
    /* HISTORY */
    color: black;
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    margin-left: -10rem;
    margin-top: -3.7rem;
}

.bottom h2 {
    /* CONTACT */
    color: black;
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    margin-left: -9.8rem;
    margin-top: 1.7rem;
}

.bottom h3 {
    /* CAREERS */
    color: black;
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    margin-left: 10rem;
    margin-top: -3.3rem;
    padding-bottom: .6rem;
}

.bottom h4 {
    /* ACCESSIBILITY */
    color: black;
    font-size: 10px;
    margin: 0 auto;
    text-align: center;
    margin-left: 12rem;
    margin-top: 1.1rem;
}


.fa-instagram {
    color: black;
    margin: 0 auto;
    margin-left: 15.4rem;
    margin-top: -1rem;
    padding: .5rem;
}

.fa-twitter {
    padding-right: .5rem;
}




/* min width if mobile coded first, max width if desktop coded first */
@media (min-width: 800px) {

    .logo {
        margin: 0 auto;
        width: 400px;
        rotate: 5deg;
        padding: none;
        margin-top: -4rem;
    }

    .intro p {
        margin: 0 auto;
        text-align: left;
        width: 22%;
        font-size: 20px;
        margin-top: -5.5rem;
        margin-left: 44.5rem;
    }

    .arrow {
        margin: 0 auto;
        width: 35px;
        rotate: 270deg;
        margin-top: 11rem;
    }



    .grape-bottle {
        margin: 0 auto;
        rotate: 25deg;
        width: 400px;
        margin-left: -2rem;
    }

    .grapes-bottom-left {
        margin: 0 auto;
        width: 300px;
        margin-top: -19rem;
        margin-left: -4rem;
    }

    .grapes-top-left {
        margin: 0 auto;
        width: 300px;
        margin-top: -69rem;
        margin-left: -3rem;
    }

    .grapes-top-right {
        margin: 0 auto;
        width: 300px;
        rotate: 170deg;
        margin-top: -30rem;
        margin-right: -4rem;
    }

    .grapes-bottom-right {
        margin: 0 auto;
        rotate: 165deg;
        width: 300px;
        margin-top: 2rem;
        margin-right: -6rem;
    }



    .section1 h1 {
        margin: 0 auto;
        font-size: 40px;
        margin-left: 28.5rem;
    }

    .section1 p {
        margin: 0 auto;
        width: 34%;
        color: rgb(255, 255, 255);
        font-size: 20px;
        margin-bottom: -81rem;
        margin-left: 32rem;
    }

    .items1 {
        margin-top: -42rem;
    }

    .button1 {
        background: transparent;
        border: 2px solid #fff;
        padding: 1rem;
        border-radius: 50px;
        color: white;
        margin-left: 44.5rem;
        margin-top: 82rem;
        font-size: 20px;
    }




    .apple-cherry-bottle {
        margin: 0 auto;
        rotate: 335deg;
        width: 400px;
        margin-right: -2rem;
    }

    .apples-left {
        margin: 0 auto;
        rotate: 5deg;
        width: 890px;
        margin-top: -54rem;
        margin-left: -24rem;
    }

    .apples-right {
        margin: 0 auto;
        width: 890px;
        margin-top: -53rem;
        margin-right: -29rem;
    }

    .cherry-front {
        width: 630px;
        margin-top: -65rem;
        margin-left: 82rem;
    }

    .cherry-stem1 {
        width: 700px;
        margin-top: -15rem;
        margin-left: -4rem;
    }

    .cherry-stem2 {
        /* bottom right */
        width: 700px;
        margin-top: 17rem;
        margin-left: 73rem;
    }

    .section2 h1 {
        margin: 0 auto;
        font-size: 40px;
        margin-left: 44.5rem;
        margin-top: 25rem;
    }

    .section2 p {
        margin: 0 auto;
        width: 24%;
        font-size: 20px;
        margin-left: 44.5rem;
    }

    .button2 {
        background: transparent;
        border: 2px solid #fff;
        padding: 1rem;
        border-radius: 50px;
        color: white;
        margin-left: 44.5rem;
        margin-top: 1rem;
        font-size: 20px;
    }

    .items2 {
        margin-top: -40rem;
    }



    .section3 h1 {
        margin: 0 auto;
        color: white;
        font-size: 40px;
        margin-left: 44.5rem;
    }

    .section3 p {
        margin: 0 auto;
        color: rgb(255, 255, 255);
        font-size: 20px;
        width: 23%;
        margin-bottom: -35rem;
        margin-left: 44.5rem;
    }

    .button3 {
        background: transparent;
        border: 2px solid #fff;
        padding: 1rem;
        border-radius: 50px;
        color: white;
        margin-left: 44.5rem;
        margin-top: 36rem;
        font-size: 20px;
    }

    .items3 {
        margin-top: -41rem;
    }


    .citrus-delight-bottle {
        margin: 0 auto;
        rotate: 25deg;
        width: 400px;
        margin-left: -2rem;
        padding-top: 3rem;
        z-index: 10;
    }

    .grapefruit-left {
        width: 250px;
        rotate: 170deg;
        margin: 0 auto;
        margin-left: -7rem;
        margin-top: -60rem;
    }

    .grapefruit-right {
        width: 250px;
        margin: 0 auto;
        margin-right: -5rem;
        margin-top: 22rem;
    }

    .lime {
        margin: 0 auto;
        margin-top: -50rem;
        margin-left: 75rem;
        width: 420px;
    }

    .orange {
        margin: 0 auto;
        width: 700px;
        rotate: 50deg;
        margin-top: 19rem;
        margin-left: -13rem;
    }





    .peach-bottle {
        margin: 0 auto;
        rotate: 335deg;
        width: 400px;
        margin-right: -2rem;
    }

    /* peach locations are not correct in titles atm */
    .peach-top-left {
        margin: zero auto;
        width: 450px;
        margin: 0 auto;
        rotate: 25deg;
        margin-left: 7rem;
        margin-top: -58rem;
    }

    .peach-left {
        margin: zero auto;
        width: 450px;
        rotate: -30deg;
        margin-top: 8rem;
        margin-left: -8rem;
    }

    .peach-bottom-left {
        margin: zero auto;
        width: 450px;
        margin-top: -60rem;
        margin-left: 95rem;
    }

    .peach-top-right {
        margin: zero auto;
        width: 450px;
        rotate: 180deg;
        margin-top: -18rem;
        margin-left: -13rem;
    }

    .peach-bottom-right {
        margin: zero auto;
        width: 450px;
        margin-top: 5rem;
        margin-left: 100rem;
    }

    .section4 h1 {
        margin: 0 auto;
        font-size: 40px;
        margin-left: 44.5rem;
        margin-top: -7rem;
    }

    .section4 p {
        margin: 0 auto;
        font-size: 20px;
        width: 25%;
        margin-left: 44.5rem;

    }

    .button4 {
        background: transparent;
        border: 2px solid #fff;
        padding: 1rem;
        border-radius: 50px;
        color: white;
        margin-left: 44.5rem;
        margin-top: 1rem;
        font-size: 20px;
    }

    .items4 {
        margin-top: -41rem;
    }





    .section5 h1 {
        margin: 0 auto;
        font-size: 40px;
        margin-left: 44.5rem;
    }

    .section5 p {
        margin: 0 auto;
        width: 25%;
        font-size: 20px;
        margin-bottom: -31rem;
        margin-left: 44.5rem;
    }

    .button5 {
        background: transparent;
        border: 2px solid #fff;
        padding: 1rem;
        border-radius: 50px;
        font-size: 20px;
        margin-left: 44.5rem;
    }

    .items5 {
        margin-top: -40rem;
    }

    .banana-bottle {
        margin: 0 auto;
        rotate: 25deg;
        width: 400px;
        margin-left: -2rem;
        z-index: 10;
    }

    /*bleeds off the bottle! :D */
    .banana-top-left {
        margin: 0 auto;
        rotate: 90deg;
        width: 650px;
        margin-top: -55rem;
        margin-left: -13.5rem;
    }

    .banana-bottom-left {
        width: 650px;
        margin: 0 auto;
        margin-top: 13rem;
        margin-left: -15.5rem;
    }

    .banana-top-right {
        margin: 0 auto;
        width: 650px;
        margin-top: -72rem;
        margin-right: -13rem;
    }

    .banana-bottom-right {
        margin: 0 auto;
        rotate: 280deg;
        width: 650px;
        margin-top: 6rem;
        margin-right: -14rem;
    }






.bottom {
    background-color: #FFFDF2;
}

.logo-bottom {
    width: 260px;
    margin: 0 auto;
    rotate: 5deg;
    margin-top: -13rem;
}

.flag {
    margin: 0 auto;
    width: 60px;
    margin-top: -3rem;
}

.bottom p {
    /* copyright */
    color: rgb(0, 0, 0);
    width: 1000px;
    font-size: 15px;
    padding: 1rem;
    padding-top: 2rem;
    margin: 0 auto;
    text-align: center;
}

.bottom h1 {
    /* HISTORY */
    color: black;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    margin-left: -15rem;
    margin-top: -5rem;
}

.bottom h2 {
    /* CONTACT */
    color: black;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    margin-left: -15rem;
    margin-top: 1.3em;
    padding-bottom: 3.5rem;
}

.bottom h3 {
    /* CAREERS */
    color: black;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    margin-left: 15rem;
    margin-top: -8.5rem;
    padding-bottom: .6rem;
}

.bottom h4 {
    /* ACCESSIBILITY */
    color: black;
    font-size: 20px;
    margin: 0 auto;
    text-align: center;
    margin-left: 18.5rem;
    margin-top: 1rem;
}


.fa-instagram {
    color: black;
    margin: 0 auto;
    margin-left: 53.3rem;
    padding: .5rem;
}

.fa-twitter {
    padding-right: .5rem;
}





}