/* inter weights: 400 and 600 */
body {
    font-family: 'Inter', sans-serif;
}

/* Base Styles*/
p {
    font-size: 18px;
}

header {
    background-image: url('../img/header.jpg');
    background-size: cover;
    /* takes the width of the image and pulls it in to fill the space */
    height: 48vh;
    /* vh = viewport height. 60% of the height of your page. wh does this for width */
}

.inner {
    margin: 0 auto;
    max-width: 1280px;
    position: relative;
}

header .inner {
    height: 100%;
    /* height is relative to the container, not page */
}

nav {
    display: none;
}

h1 {
    background-color: rgba(255, 255, 255, .4);
    /* the last value is opacity */
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 1rem;
    text-transform: uppercase;
}

.menu-button {
    background-color: rgba(255, 255, 255, .4);
    /* the last value is opacity */
    border: 1px solid transparent;
    padding: 1rem;
    -webkit-appearance: none;
}

.menu-wrapper {
    display: flex;
    /* button on same line as header */
    justify-content: space-between;
}

.intro {
    bottom: 0;
    left: 0;
    text-transform: uppercase;
    padding-bottom: 1rem;
    position: relative;
    top: 330px;
}

.featured-work {
    padding: 3rem 1rem;
}

.featured-work h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.featured-work figure {
    margin-bottom: 2rem;
}

.featured-work figcaption {
    font-size: 14px;
    margin-top: 1rem;
    text-transform: uppercase;
}


footer {
    background-color: rgba(255, 255, 255, 0.4);
    /* the last value is opacity */
    padding: 1rem;
}

footer p {
    font-size: 14px;
    font-weight: 600;
    margin-left: 14.5rem;
    position: relative;
    margin: 0 auto;
}



.studio {
    /* this is the para */
    margin-left: 0rem;
    background-color: #FAFAFA;
    /* the last value is opacity */
    padding: 13rem;
    margin: 0 auto;
    position: relative;
    height: 5.5in;
}

.studio p {
    /* this is the title */
    font-size: 14px;
    margin-left: 5.5rem;
    font-weight: 600;
    position: relative;
    margin: 0 auto;
    top: -180px;
    left: -190px;
}

.text-body p {
    font-size: 18px;
    margin-left: 5.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    width: 5in;
    position: relative;
    left: 14px;
    top: -450px;
    margin: 0 auto;
}


@media screen and (min-width: 680px) {
    .work-grid {
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 800px) {
    .menu-button {
        display: none;
    }

    nav {
        background-color: rgba(255, 255, 255, .4);
        /* the last value is opacity */
        display: block;
        padding: 1rem;
    }

    nav ul {
        margin-left: 0;
        padding-left: 0;
    }

    nav li {
        list-style: none;
    }

    nav a {
        color: #000;
        font-size: 14px;
        text-decoration: none;
        text-transform: uppercase;
    }

    nav ul {
        display: flex;
        gap: 1rem;
    }

    .studio {
        margin-left: 0rem;
        background-color: #FAFAFA;
        /* the last value is opacity */
        padding: 10rem;
        height: 4in;
    }

    .studio p {
        font-size: 14px;
        margin-left: 5.5rem;
        font-weight: 600;
        position: relative;
        top: -90px;
        left: 9px;
    }

    .text-body p {
        font-size: 18px;
        margin-left: 5.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        width: 9.5in;
        position: relative;
        left: 400px;
        top: -320px;
    }

    footer {
        background-color: rgba(255, 255, 255, 0.4);
        /* the last value is opacity */
        padding: 1rem;
    }

    footer p {
        font-size: 14px;
        font-weight: 600;
        margin-left: 14.5rem;
        position: relative;
        top: -200px;
    }

}